section.profile{
  display: flex;
  width: 100vw;
  height: 100%;
}

.info{
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: .1em 0em .1em rgba(0,0,0,0.1);
}

.info img{
  width: 90%;
  border-radius: 50%;
  padding: 1em 0em;
}

.detail h1{
  font-size: 1.5em;
  font-weight: 700;
  line-height: 2em;
}

.info input{
  margin: 1em 0em;
  width: 100%;
  font-size: 1em;
  font-weight: 500;
  opacity: .8;
  border: var(--form-input-color) 1px solid;
  background-color: #FAFBFC;
  border-radius: .5em;
  cursor: pointer;
  outline: none;
}

.info input:hover{
  background-color: var(--form-input-color);
}

.detail h5{
  font-weight: 500;
  color: var(--form-icon-color);
}

.content{
  width: 80%;
  height: 100%;
}

.content iframe{
  width: 100%;
  height: 90%;
  padding: 1em 1em;
}