section {
  position: relative;
}

body {}

.landing {
  padding: 3em 0em;
  position: relative;
}

.login-appear {
  animation: login-appear 1.5s ease-in-out forwards;
}

#slide-right {
  animation: slide-right .5s ease-in-out forwards;
}

#login-remove {
  animation: login-remove 1.5s ease-in-out forwards;
}

#signup-remove {
  animation: signup-remove 1.5s ease-in-out forwards;
}

.slide-left {
  animation: slide-left .5s ease-in-out forwards;
}

.signup-appear {
  animation: signup-appear 1.5s ease-in-out forwards;
}

.content {
  display: flex;
  justify-content: space-between;
}

.para {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
}

.para h2 {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 3em;
  line-height: 1em;
}

.para p {
  padding-top: 2em;
  font-weight: 300;
  width: 80%;
  word-wrap: break-word;
  font-size: 1.1em;
  padding-left: .5em;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.landing .banner svg {
  padding-top: 2em;
  float: right;
  width: 90%;
  height: 90%;
}

.landing button {
  position: absolute;
  bottom: 10em;
  left: 3em;
  font-weight: 500;
  font-size: 1em;
  color: white;
  background-color: var(--primary-color);
  border: var(--primary-color) 2px solid;
  padding: .8em 2em;
  border-radius: 2em;
  outline: none;
  cursor: pointer;
}

.landing button:hover {
  background-color: white;
  color: var(--primary-color);
}

.form-content {
  position: absolute;
  right: 10em;
  bottom: 5em;
  background-color: var(--white-color);
  border-radius: 2em;
  box-shadow: 0em .01em .2em rgba(0, 0, 0, 0.2);
  transform: translateX(200%);
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60vh;
  width: 20vw;
  align-items: center;
}

form .avater {
  position: absolute;
  height: 5em;
  width: 5em;
  top: 1em;
  left: 1em;
}

form h3 {
  padding: 1em 0em;
  color: var(--primary-color);
  line-height: 1em;
  font-weight: 500;
  font-size: 2.6em;
  position: absolute;
  top: 2em;
  left: .5em;
}

.input-wrap {
  position: absolute;
  bottom: 7em;
  left: 2em;
}

.input-wrap .wrap-type {
  background-color: var(--form-input-color);
  display: flex;
  justify-content: center;
  padding: .2em .5em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.wrap-type:first-child {
  margin-top: 1em;
}

.input-wrap .icon {
  color: var(--form-icon-color);
}

.wrap-type input::placeholder {
  color: var(--form-icon-color);
  font-size: 1.2em;
  font-weight: 300;
}

.wrap-type input {
  outline: none;
  border: none;
  background-color: var(--form-input-color) !important;
  margin-left: 1em;
  font-size: .9em;
  font-weight: 500;
}

form button,
#reg,
#login-submit {
  position: absolute;
  bottom: 4em;
  background-color: var(--primary-color);
  border: var(--primary-color) 2px solid;
  font-weight: 500;
  color: var(--white-color);
  font-size: 1em;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  padding: .5em 1.5em;
  border-radius: 1.5em;
}

#reg:hover,
#login-submit:hover {
  background-color: white;
  color: var(--primary-color);
}

.signin-wrap {
  z-index: 100;
}

.sign-up {
  position: absolute;
  left: 2em;
  bottom: 2em;
  font-size: .8em;
  color: #888;
}

.sign-up a {
  margin-left: .3em;
  word-spacing: -.1em;
  color: #888;
}

.signup-wrap {
  position: absolute;
  right: 46em;
  transform: translateX(400%);
}

.signup-wrap form .input-wrap {
  position: absolute;
  top: 10em;
}

.signup-wrap form button {
  position: absolute;
  bottom: 4em;
}

.signup-wrap form .sign-in {
  position: absolute;
  bottom: 1.5em;
  left: 4em;
}

.signup-wrap form .sign-in a {
  letter-spacing: .01em;
}

.signup-wrap form h3 {
  position: absolute;
  top: 1.6em
}

.display-none {
  display: none;
}

.display-appear {
  display: block;
}

footer {
  position: absolute;
  bottom: -2em;
  left: 40%;
  margin-bottom: 4em;
  font-size: small;
  font-weight: 300;
  color: var(--dark-color);
}

@keyframes login-appear {
  20% {
    transform: translateX(0%);
  }

  40% {
    transform: translateX(10%);
  }

  60% {
    transform: translateX(-5%);
  }

  80% {
    transform: translateX(2%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes signup-appear {
  20% {
    transform: translateX(200%);
  }

  40% {
    transform: translateX(210%);
  }

  60% {
    transform: translateX(195%);
  }

  80% {
    transform: translateX(202%);
  }

  100% {
    transform: translateX(200%);
  }
}

@keyframes signup-remove {
  100% {
    transform: translate(400%);
  }
}

@keyframes login-remove {
  100% {
    transform: translateX(200%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-55%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slide-left {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translateX(-55%);
  }
}