body{
  width: 100%;
  height: 100%;
}

.find{
  width: 100%;
  display: flex;
  align-items: center;
}

.find form{
  padding: 1em 0em;
  width: 100%;
}

.find form{
  display: flex;
  justify-content: space-between;
}

.find form .search{
  display: flex;
  width: 38%;
  border: var(--form-input-color) 1px solid;
  border-radius: 2em;
  overflow: hidden;
  padding: .5em;
}

.find form .search input{
  width: 100%;
  border: none;
  outline: none;
  text-indent: .5em;
}

.find form .search svg{
  stroke: var(--form-input-color);
}

.search button{
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.find>a{
  width: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2EA44F;
  color: #FFFFE9;
  border-radius: 2em;
  height: 3em;
  outline: none;
  border: none;
  font-size: 1em;
  font-weight: 500;
  text-align: center;
  padding-top: .2em;
  text-decoration: none;
}

.card_container{
  width: 100%;
}

.mem_card:first-child{
  border-top: var(--form-input-color) 1px solid;
}

.mem_card{
  display: flex;
  justify-content: space-between;
  padding: 1em 0em;
  width: 98%;
  height: 20%;
  border-bottom: var(--form-input-color) 1px solid;
}

.img{
  width: 15%;
  display: flex;
  align-items: center;
}

.img img{
  width: 100px;
  border-radius: 50%;
}

.details{
  display: flex;
}

.info{
  margin-left: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info h2{
  color: var(--dark-color);
  text-decoration: underline;
}

.data{
  display: flex;
  align-items: center;
  color: var(--form-icon-color);
}

.data svg{
  margin-right: .5em;
}

.controls{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.view{
  padding: .5em 1em;
  border-radius: 2em;
  font-weight: 500;
  text-decoration: none;
  color: var(--form-icon-color);
  background-color: var(--form-input-color);
}

.view:hover{
  color: white;
  background-color: var(--dark-color);
}

.delete{
  margin-right: 1em;
}

.delete svg{
  stroke: var(--form-icon-color);
}

.delete svg:hover{
  stroke: red;
}